include  template/vars
include ../../../../core/mixins/mixins
include data/data
doctype html
html(lang='ru')
	-
		page_title = "Home";
	include template/style
body.body
	.set
		include template/header
		main.main
			section.fr
				.fr-top
					a(href="8007167608").fr-top_link Call us today: (800) 716-7608
				.fr-middle
					.section_large
						h1.fr-middle_title LTL Freight
						p.fr-middle_text
							| Streamline your LTL freight shipping process with FreightCenter, and experience
							| significant cost savings of up to 95%. Take advantage of our complimentary LTL
							| freight quote service today. LTL shipping is an ideal solution for transporting
							| partial truckloads and other goods that do not require full trailer capacity.
				.fr-bottom
					.section_large
						.fr-bottom-label
							img(src="img/easy_tracking.png")
							span Easy Tracking
						.fr-bottom-label
							img(src="img/secure_payments.png")
							span Secure Payments
						.fr-bottom-label
							img(src="img/shipping_rewards.png")
							span Shipping Rewards
				.breadcrumbs
					.section_large
						a(href="/").breadcrumbs_link
							svg
								use(xlink:href="#home")
						span /
						a(href="/services").breadcrumbs_link Services
						span /
						span.breadcrumbs_text LTL Freight
				.calc
					.calc-form
						h3.calc-form_title Freight rate calculator
						.calc-form-block
							span.calc-form-block_text Shipping option
							.calc-form-block_row
								.calc-form_label
									label.radio
										input(
											type="radio"
											name="option"
											value="LTL"
											data-change="front:changeTrackOption"
											checked
										).radio_input
										span.radio_icon
										span.radio_text LTL (Less-Than-Truckload)
									.tip
										.tip_icon
											svg
												use(xlink:href="#question")
										.tip_text
											| LTL shipping is used for small freight or when the items don't
											| require the use of an entire trailer. Your freight is combined
											| with other shipments to fill an entire trailer. It is ideal for
											| shipments under 15,000 pounds.
								.calc-form_label
									label.radio
										input(
											type="radio"
											name="option"
											value="FT"
											data-change="front:changeTrackOption"
										).radio_input
										span.radio_icon
										span.radio_text Full Truckload
									.tip
										.tip_icon
											svg
												use(xlink:href="#question")
										.tip_text
											| Full truckload is used when shippers have enough items to fill
											| an entire truck or they want their shipment in a trailer all by
											| itself.
						form.calc-form_item.active#ltl
							.calc-form-block
								span.calc-form-block_text Pickup and delivery locations
								.calc-form-block_row
									label.calc-form-inpt
										span.calc-form-inpt_label Pickup city/ZIP
										input(
											type='text'
											name='pickup_zip'
											placeholder='_________'
											data-input="front:findByZip"
											required
										).calc-form-inpt_input
										span.form_error.hidden Please select the Zip code
									label.calc-form-inpt
										span.calc-form-inpt_label Destination city/ZIP
										input(
											type='text'
											name='destination_zip'
											placeholder='_________'
											data-input="front:findByZip"
											required
										).calc-form-inpt_input
							.calc-form-block
								span.calc-form-block_text Shipment information
								.calc-form-block_row
									.calc-form-block_parts
										label.calc-form-inpt
											span.calc-form-inpt_label Length
											input(
												type='number'
												name='length'
												value='48'
												placeholder='1000'
												min='1'
												data-input="front:checkCalcForm"
												required
											).calc-form-inpt_input
										label.calc-form-inpt
											span.calc-form-inpt_label Width
											input(
												type='number'
												name='width'
												value='40'
												placeholder='1000'
												min='1'
												data-input="front:checkCalcForm"
												required
											).calc-form-inpt_input
										label.calc-form-inpt
											span.calc-form-inpt_label Height
											input(
												type='number'
												name='height'
												value='48'
												placeholder='1000'
												min='1'
												data-input="front:checkCalcForm"
												required
											).calc-form-inpt_input
										.select.calc-form_select
											button(type="button" data-click="front:selectOpen").select_head
												span in
												svg
													use(xlink:href="#select_arrow")
											input(type="text" name="size_type" value='in').select_input
											.select_body
												button(type="button" data-click="front:selectChoose").select_option.active in
												button(type="button" data-click="front:selectChoose").select_option feet
									.calc-form-block_parts
										label.calc-form-inpt
											span.calc-form-inpt_label Weight
											input(
												type='number'
												name='weight'
												placeholder='1000'
												min='1'
												data-input="front:checkCalcForm"
												required
											).calc-form-inpt_input
										.select.calc-form_select
											button(type="button" data-click="front:selectOpen").select_head
												span lbs
												svg
													use(xlink:href="#select_arrow")
											input(type="text" name="weight_type" value='lbs').select_input
											.select_body
												button(type="button" data-click="front:selectChoose").select_option.active lbs
												button(type="button" data-click="front:selectChoose").select_option kg
							.tip.calc-form_submit
								button.btn(disabled)
									span View my rates
								.tip_text.to_top
									p Oops! We still need this information:
									ul.calc_validates_list
										li.pickup_zip Pickup ZIP/Postal code
										li.destination_zip Destination ZIP/Postal code
										li.length.hidden Length
										li.width.hidden Width
										li.height.hidden Height
										li.weight Weight
						form.calc-form_item#ft
							.calc-form-block
								span.calc-form-block_text Pickup and delivery locations
								.calc-form-block_row
									label.calc-form-inpt
										span.calc-form-inpt_label Pickup city/ZIP
										input(
											type='text'
											name='pickup_zip'
											placeholder='_________'
											data-input="front:findByZip"
											required
										).calc-form-inpt_input
										span.form_error.hidden Please select the Zip code
									label.calc-form-inpt
										span.calc-form-inpt_label Destination city/ZIP
										input(
											type='text'
											name='destination_zip'
											placeholder='_________'
											data-input="front:findByZip"
											required
										).calc-form-inpt_input
							.calc-form-block
								span.calc-form-block_text Shipment information
								.calc-form-block_row
									.calc-form-block_parts
										label.calc-form-inpt
											span.calc-form-inpt_label Weight
											input(
												type='number'
												name='weight'
												placeholder='1000'
												min='1'
												data-input="front:checkCalcForm"
												required
											).calc-form-inpt_input
										.select.calc-form_select
											button(type="button" data-click="front:selectOpen").select_head
												span lbs
												svg
													use(xlink:href="#select_arrow")
											input(type="text" name="weight_type" value='lbs').select_input
											.select_body
												button(type="button" data-click="front:selectChoose").select_option.active lbs
												button(type="button" data-click="front:selectChoose").select_option kg
									label.calc-form-inpt.w-full
										span.calc-form-inpt_label Choose Equipment
										.select.calc-form_select
											button(type="button" data-click="front:selectOpen").select_head
												span Drayage
												svg
													use(xlink:href="#select_arrow")
											input(type="text" name="weight_type" value='Drayage').select_input
											.select_body
												button(type="button" data-click="front:selectChoose").select_option.active Drayage
												button(type="button" data-click="front:selectChoose").select_option Flatbed
												button(type="button" data-click="front:selectChoose").select_option Intermodal
												button(type="button" data-click="front:selectChoose").select_option Lowboy
												button(type="button" data-click="front:selectChoose").select_option Ocean
												button(type="button" data-click="front:selectChoose").select_option Power-only
												button(type="button" data-click="front:selectChoose").select_option Reefer
												button(type="button" data-click="front:selectChoose").select_option Van
												button(type="button" data-click="front:selectChoose").select_option Other
												button(type="button" data-click="front:selectChoose").select_option I don't know
							.calc-form-block
								.calc-form-inpt.w-full
									span.calc-form-inpt_label What are you shipping?
									textarea(maxlength='70' name="calc_info" data-input="front:checkCalcForm" required).calc-form-inpt_textarea
									span.form_under limit of 70 characters
							.tip.calc-form_submit
								button.btn(disabled)
									span View my rates
								.tip_text.to_top
									p Oops! We still need this information:
									ul.calc_validates_list
										li.pickup_zip Pickup ZIP/Postal code
										li.destination_zip Destination ZIP/Postal code
										li.weight Weight
										li.calc_info What are you shipping
					.calc-bottom
						h5.calc-bottom_title Want To Learn More About Truckload Shipping?
						a(href='#').shipping_link
							span Truckload Freight
							svg
								use(xlink:href="#shipping_arrow")
						a(href='#').shipping_link
							span Flatbed Trucking
							svg
								use(xlink:href="#shipping_arrow")
				.fr-desc
					.section_large
						h3.fr-desc_title Less-than-truckload
						p.fr-desc_text
							| #[strong Less-than-truckload] (LTL) Freight is a way to transport smaller shipments by
							| combining them with other shipments in one truck. This helps businesses save
							| money by efficiently sharing transportation costs and using truck space.
					.section_large
						h3.fr-desc_title Why choose LTL Freight?
						ul.fr-desc_list
							li
								svg
									use(xlink:href='#list_disc')
								span LTL Shipping Quotes from 50+ carriers
							li
								svg
									use(xlink:href='#list_disc')
								span Instant LTL rates anytime
							li
								svg
									use(xlink:href='#list_disc')
								span LTL solutions to anywhere in the U.S. & Canada
							li
								svg
									use(xlink:href='#list_disc')
								span Unbeatable discounts on your less-than-load, truckload, rail, air, and more
							li
								svg
									use(xlink:href='#list_disc')
								span Automated LTL tracking, paperwork & invoices
							li
								svg
									use(xlink:href='#list_disc')
								span Manage all freight quotes & shipments in one place
							li
								svg
									use(xlink:href='#list_disc')
								span 24+ years of transportation experience working for you!
			section.logos
				-for(let i = 0; i < 3; i++)
					.logos_row
						img(src="img/coca-cola.png")
						img(src="img/fema.png")
						img(src="img/ford.png")
						img(src="img/google.png")
						img(src="img/IBM.png")
						img(src="img/michigan.png")
						img(src="img/phillies.png")
						img(src="img/six-flags.png")
			section.trust-pilot
				.section_large
					h3.trust-pilot_title
						img(src="img/trust-pilot.svg")
					h5.trust-pilot_subtitle What our customers are saying
					p.trust-pilot_text
						| We provide competitive freight shipping prices and an all-inclusive, easy-to-use shipping experience for our customers.
						| Exceeding our customers’ expectations results in thousands of satisfied customer reviews and repeat business. We
						| believe in the power of our customer relationships. Check out FreightCenter reviews from real customers, and learn what
						| they have to say about their freight shipping experience!
					.trust-pilot_list
						.trust-pilot_item.trust-pilot-score
							h6.trust-pilot-score_title Average
							.trust-pilot-score-mark.mark-35
								.trust-pilot-score-mark_item.mark
									svg
										use(xlink:href="#star")
								.trust-pilot-score-mark_item.mark
									svg
										use(xlink:href="#star")
								.trust-pilot-score-mark_item.mark
									svg
										use(xlink:href="#star")
								.trust-pilot-score-mark_item.mark
									svg
										use(xlink:href="#star")
								.trust-pilot-score-mark_item.mark
									svg
										use(xlink:href="#star")
							.trust-pilot-score_text
								| Based on&nbsp;
								a(href="#") 1,474 reviews
							img(src="img/trust-pilot.svg")
						.trust-pilot_item.reviews-slider_cont
							.reviews-slider
								button.reviews-slider_button(disabled)
									svg
										use(xlink:href='#reviews_left')
								.reviews-slider-inner
									.reviews-slider-inner_row
										-for(let i = 0; i < 15; i++)
											.reviews-slide
												.reviews-slide-mark.mark-50
													.reviews-slide-mark_item.mark
														svg
															use(xlink:href="#star")
													.reviews-slide-mark_item.mark
														svg
															use(xlink:href="#star")
													.reviews-slide-mark_item.mark
														svg
															use(xlink:href="#star")
													.reviews-slide-mark_item.mark
														svg
															use(xlink:href="#star")
													.reviews-slide-mark_item.mark
														svg
															use(xlink:href="#star")
												h5.reviews-slide_title Sergio Arenas was the gentleman who
												p.reviews-slide_text
													| Sergio Arenas was the gentleman who
													| helped me. He was extremely helpful
												.reviews-slide_signature
													| #[strong WHAValued Customer], 2 days ago
									.trust_signature Showing our 5 star reviews
								button.reviews-slider_button
									svg
										use(xlink:href='#reviews_right')
			section.shipping-rates
				h3.shipping-rates_title Let’s Get Started! Compare shipping rates in an instant!
				button.btn Get a Freight Quote
			section.awards
				.section_large
					h5.awards_subtitle Our Certifications
					h3.awards_title Awards and Endorsements
					.awards_lists
						ul.awards_list
							li.awards_item
								svg
									use(xlink:href="#order")
								span 2021, 2017 & 2016 Food Logistics’ Top Green Providers
							li.awards_item
								svg
									use(xlink:href="#order")
								span 2021 & 2018 Supply & Demand Chain Executives’ Pros to Know: Matthew Brosious
							li.awards_item
								svg
									use(xlink:href="#order")
								span 2020 & 2019 Top Food Logistics’ 3PL & Cold Storage Provider Award
							li.awards_item
								svg
									use(xlink:href="#order")
								span 2020 & 2019 Business Observer’s Top 500 Companies on the Gulf Coast
							li.awards_item
								svg
									use(xlink:href="#order")
								span 2020 & 2017 SmartWay® Transport Partner
							li.awards_item
								svg
									use(xlink:href="#order")
								span 2020 & 2017 Food Logistics’ Champions: Rock Stars of the Supply Chain
							li.awards_item
								svg
									use(xlink:href="#order")
								span 2020 Best of Palm Harbor Awards for Local Businesses
						ul.awards_list
							li.awards_item
								svg
									use(xlink:href="#order")
								span 2017 Green Supply Chain Award from Supply & Demand Chain Executive
							li.awards_item
								svg
									use(xlink:href="#order")
								span 2017 Tampa Bay Business Journal Heroes at Work
							li.awards_item
								svg
									use(xlink:href="#order")
								span 2016, 2015, & 2012 Food Logistics Top 100 Software and Technology Providers
							li.awards_item
								svg
									use(xlink:href="#order")
								span 2013 Tampa Bay Business 100 by Tampa Bay Business Journal
							li.awards_item
								svg
									use(xlink:href="#order")
								span 2013 Top 100 Great Supply Chain Partners by SupplyChainBrain
							li.awards_item
								svg
									use(xlink:href="#order")
								span 2012 TIA Samaritan Award Honorable Mention
							li.awards_item
								svg
									use(xlink:href="#order")
								span 2012, 2011 & 2010 TBBJ Fast 50 Recipient
							li.awards_item
								svg
									use(xlink:href="#order")
								span 2013, 2011, & 2010 Diversity Business Top Businesses
			section.fr-rates
				.section_large
					.fr-rates_photo
						img(src="img/freight-rate-1.jpg")
					.fr-rates_info
						h3.fr-rates_title What Is LTL Global Forwarding Shipping?
						p.fr-rates_text
							| LTL stands for “Less-Than-Truckload” in the freight industry. LTL shipping is a
							| transportation method for smaller freight loads that do not require a full truckload. LTL
							| carriers typically transport multiple smaller shipments from different customers on the
							| same truck, which allows customers to share the cost of transportation and reduces
							| overall shipping costs. LTL freight shipments typically weigh between 150 and 15,000
							| pounds and may be too large for parcel carriers like UPS or FedEx but too small to justify
							| the price of a full truckload.
						p.fr-rates_text
							| #[strong LTL Freight carriers] use specialized equipment, such as pallet jacks, liftgates, and
							| forklifts, to handle and transport these shipments. LTL carriers offer various services,
							| including pickup and delivery, tracking, and insurance. LTL shipping rates are typically
							| based on the shipment’s weight, dimensions, density, distance traveled, and additional
							| services required.
						button.btn See Freight Rates Now!
			section.info
				.section_large
					.info_row
						.info_col
							strong LTL Global Forwarding
							span by the numbers
						.info_col
							strong 25
							span Years In Business
						.info_col
							strong 1.5m+
							span Years In Business
						.info_col
							strong 93%+
							span On-Time Performance
						.info_col
							strong 99.1%
							span Damage Free LTL
		include template/footer